.logo{
    text-align: center;
}
    .logo img{
        font-family: 'Dancing Script', cursive;
        background-color: teal;
        font-size: 50px;
        text-decoration: none;
        color: #333;
    }